*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-logo{
    padding: 25px 30px;
}

#logo{
    height: 120px;
    vertical-align: middle;
}

header span{
    font-size: 80px;
    font-weight: bold;
    vertical-align: middle;
}

main{
   background-color: rgb(0, 162, 250); 
   padding: 20px;
}

.container{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottoni{
    height: 50px;
    width: 130px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(128, 128, 128);
    font-size: 20px;
    font-weight: bold;
}

#task{
    background-color: rgb(0, 162, 239);
}

#section{
    background-color: white;
}