*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-logo{
    padding: 25px 30px;
}

#logo{
    height: 120px;
    vertical-align: middle;
}

header span{
    font-size: 80px;
    font-weight: bold;
    vertical-align: middle;
}